body,
html {
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
}

.form input {
  height: 3em;
}

.btn {
  width: 100%;
}

.form button {
  height: 3em;
  padding: 0 1em;
  margin: 1em 0;
  border: none;
  background: grey;
  color: white;
}

.add_buttons button {
  margin: 1em 0;
}

.main {
  margin-top: 5em;
}

.container-fluid {
  margin: 2em 0;
}

#img {
  width: 80%;
}

#clipboard {
  width: 6%;
}

#clipboard_logo {
  width: 100%;
}

#webcam {
  width: 100%;
}

#label {
  text-transform: capitalize;
}

.choice {
  margin: 25% 0;
  border: 1px solid lightsteelblue;
  background-color: white;
}
