body,
html {
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
}

.form input {
  height: 3em;
}

.form button {
  height: 3em;
  padding: 0 1em;
  margin: 1em 0;
  border: none;
  background: grey;
  color: white;
}

.btn {
  margin: 1em;
}

.main {
  margin-top: 5em;
}

#img {
  width: 80%;
}

#clipboard_logo {
  width: 1.5em;
}

#webcam {
  width: 100%;
}

#label {
  text-transform: capitalize;
}
