body,
html {
  margin: 0;
  padding: 0;
}

.content {
  text-align: center;
}

.form input {
  height: 3em;
}

.form button {
  height: 3em;
  padding: 0 10px;
  margin: 1em 0;
  border: none;
  background: grey;
  color: white;
}

.main {
  margin-top: 5em;
}

#img {
  width: 80%;
}
